.page {
  position: absolute;
  width: 100%;
  transition:left 2s ease-in-out,right 2s ease-in-out,top 2s ease-in-out,opacity 1s linear,bottom 2s ease-in;
}
/*start页面*/
/*要离开的ngView元素动画开始时的样式*/
.page-start.ng-leave{
  opacity: 1;
}
/*要离开的ngView元素动画结束时的样式*/
.page-start.ng-leave.ng-leave-active {
  opacity: 0;
}
/*要进入的ngView元素动画开始时的样式*/
.page-start.ng-enter {
  opacity: 0;
}
/*要进入的ngView元素动画结束时的样式*/
.page-start.ng-enter.ng-enter-active {
  opacity: 1;
}

/*main页面*/
/*要离开的ngView元素动画开始时的样式*/
.page-main.ng-leave{
  right:0;
  opacity: 1;
}
/*要离开的ngView元素动画结束时的样式*/
.page-main.ng-leave.ng-leave-active {
  right:100%;
  opacity: 0;
}
/*要进入的ngView元素动画开始时的样式*/
.page-main.ng-enter {
  top:100%;
  opacity: 0;
}
/*要进入的ngView元素动画结束时的样式*/
.page-main.ng-enter.ng-enter-active {
  top:0;
  opacity: 1;
}

/*details页面*/
/*要离开的ngView元素动画开始时的样式*/
.page-details.ng-leave{
  left:0;
  opacity: 1;
}
/*要离开的ngView元素动画结束时的样式*/
.page-details.ng-leave.ng-leave-active {
  left: -100%;
  opacity: 0;
}
/*要进入ngView的元素动画开始时的样式*/
.page-details.ng-enter {
  right: 100%;
  opacity: 0;
}
/*要进入ngView的元素动画结束时的样式*/
.page-details.ng-enter.ng-enter-active {
  right: 0;
  opacity: 1;
}

/*order1页面*/
/*要离开的ngView元素动画开始时的样式*/
.page-order1.ng-leave{
  opacity: 1;
}
/*要离开的ngView元素动画结束时的样式*/
.page-order1.ng-leave.ng-leave-active {
  opacity: 0;
}
/*要进入ngView的元素动画开始时的样式*/
.page-order1.ng-enter {
  opacity: 0;
}
/*要进入ngView的元素动画结束时的样式*/
.page-order1.ng-enter.ng-enter-active {
  opacity: 1;
}

/*order2页面*/
/*要离开的ngView元素动画开始时的样式*/
.page-order2.ng-leave{
  opacity: 1;
}
/*要离开的ngView元素动画结束时的样式*/
.page-order2.ng-leave.ng-leave-active {
  opacity: 0;
}
/*要进入ngView的元素动画开始时的样式*/
.page-order2.ng-enter {
  opacity: 0;
}
/*要进入ngView的元素动画结束时的样式*/
.page-order2.ng-enter.ng-enter-active {
  opacity: 1;
}